@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
    @apply font-semibold;
  }
 
  h6 {
    @apply text-sm;
    @apply font-semibold;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  list-style-image: none;
  list-style-type: none;
  list-style-position: outside;
 
  
}

 
@media only screen and (max-width:600px){
  html, body {
      overflow-x: hidden;
    }
}

.drop-down {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 1000px;
  z-index: 40;
  
 
}
.drop-down:hover {
  cursor: pointer;
}
.drop-down:hover .drop-down-menu li {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  border-radius: 10px;
 
 
}
.drop-down-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #d6d3d1;
  width: 100%;
  perspective: 1000px;
  border-radius: 10px;
  z-index: 60;
  
}

.drop-down-menu:before{
  content: "";
  width: 30px;
  height: 30px;
  background: #d6d3d1;
  position: absolute;
  right: 60%;
  transform: translateY(70px) rotate(45deg);
  z-index: -2;
  display: none;
}

.drop-down:hover .drop-down-menu:before{
  transition: all 1s;
  transform: translateY(-3px) rotate(45deg) ;
  display: block;
}


.drop-down-menu li {
  background-color: #d6d3d1;
  padding-top: 10px ;
  opacity: 0;
  display:none;
}

.drop-down-menu li:hover span {
  transform: translateX(4px) !important;
}
.drop-down-menu .drop-down-item-1 {
  transform-origin: top center;
  animation: slideDown 300ms 60ms ease-in-out forwards;
}

.drop-down-menu .drop-down-item-2 {
  transform-origin: top center;
  animation: slideDown 300ms 120ms ease-in-out forwards;
}

.drop-down-menu .drop-down-item-3 {
  transform-origin: top center;
  animation: slideDown 300ms 180ms ease-in-out forwards;
}
.drop-down-menu .drop-down-item-4 {
  transform-origin: top center;
  animation: slideDown 300ms 180ms ease-in-out forwards;
}








@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



